<header class="header" style="-webkit-margin-top-collapse:collapse;">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><strong>TO52</strong></a>
      </mdb-navbar-brand>

       <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" [routerLink]="['/home']" routerLinkActive="router-link-active"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/product']" routerLinkActive="router-link-active" >Products</a>
            </li>
             <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/shoppingcart']" routerLinkActive="router-link-active" ><mdb-icon icon="cart-plus"></mdb-icon> Shopping cart</a>
             </li>
            <li #register class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/register']" routerLinkActive="router-link-active" wdbWavesEffect>Register</a>
            </li>
            <li #login class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/login']" routerLinkActive="router-link-active" wdbWavesEffect>
                    <span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>

            <!-- Dropdown -->
            <li #userMenu class="nav-item dropdown float-right" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                My Account<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/orders']" routerLinkActive="router-link-active" >My orders</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
                </div>
                
            </li>

            <li #workerMenu class="nav-item dropdown float-right" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                My Account<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/orders']" routerLinkActive="router-link-active" >My orders</a>
                             <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/products']" routerLinkActive="router-link-active" >Add product</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/categories']" routerLinkActive="router-link-active" >Add category</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/suppliers']" routerLinkActive="router-link-active" >Add suppliers</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
                </div>
                
            </li>

            <li #adminMenu class="nav-item dropdown float-right" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                My Account<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/orders']" routerLinkActive="router-link-active" >My orders</a>
                             <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users']" routerLinkActive="router-link-active" >Add user/worker</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
                </div>
                
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>

</header>

