<div>
  <div></div>
</div>

<form name="form-products" class="" #f="ngForm">
  <!-- <div class="container table-responsive-sm align-content-center align-content-md-center align-items-center">-->



          <!--<div class="container table-responsive-sm align-content-center align-content-md-center align-items-center">-->
         <!-- <table class="table dataTable table-responsive-lg align-items-center">




            <tr *ngFor="let u of productsPage" class="table-info">
              <td>
                <img class="wrap-pic-h" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"  >
              </td>
             <td>
               <table>
               <tr>
              <td>
                {{u.description}}
              </td>
                 <tr>
              <td><span style="white-space: nowrap;">
                Price {{u.price}} Euro
                Quantity in stock {{u.quantityStock}}</span>
              </td>
               </tr>
              <tr>
              <td><span style="white-space: nowrap;">
                Supplier :{{u.supplier.firstName}} {{u.supplier.lastname}}</span> <br>
                <span style="white-space: nowrap;">
                City: {{u.supplier.town}}</span>
              </td>
              </tr></table></td>
              <td style="vertical-align: center;align-items: center">
                <span style="white-space: nowrap;" class="waves-button">
                  <a (click)="onAddToCart(u)" class="clickable">Add To Card</a>
                </span></td>

            </tr>
          </table>-->
  <div class="modal-notify">
    <a  class="login100-form-btn">{{counter}} Bye your items</a>
  </div>

      <div *ngFor="let u of productsPage">
        <div >
         <table>
           <tr>
             <td>
               <div>
                 <img  src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"  >
               </div>
             </td>
             <td>

              {{u.description}}

          Price {{u.price}} Euro
          Quantity in stock {{u.quantityStock}}

               <div class="container-login100-form-btn">
                  <a (click)="onAddToCart(u)" class="login100-form-btn">Add To Card</a>
                </div>
             </td>
         </tr>
         </table>

      </div>
      </div>

</form>
