<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AddProduct</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Orders</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <input typ="text">
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-collapse">
        <li>
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="nav-link">
            <span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">
      <strong>{{currentUser.username}}</strong>, Welcome to your app </h1>
    <p class="lead"> welcome to your profile
    </p>
    <div class="row">




    </div>
  </header>

</div>
